.user-cart {
     width: 300px;
     border-radius: 5px;
     padding: 20px; 
     max-width: 300px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgb(189, 219, 246);
 }
 .user-cart img {
     width: 30%;
     height: 30%;
     border-radius: 5px;
     margin-bottom: 15px;
 }
 .user-cart button{
        background-color: #b92bdc;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;

 }